.App {
  text-align: center;
}
a {
  color: darkgoldenrod;
}
header {
  background-color: #706e6e;
  color: #fff;
  padding: 20px;
}

.App.light header {
  background-color: #fff;
  color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: x-large;
}

section {
  margin: 50px auto;
  max-width: 800px;
}

h2 {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  margin-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.App.light {
  background-color: #fff;
  color: #000;
}

.App.dark {
  background-color: #616161;
  color:bisque;
}

.App.light a {
  color:#000;
}

.theme-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.theme-toggle-button:focus {
  outline: none;
}

button svg {
  width: 24px;
  height: 24px;
}

.app-header {
  /*position: fixed;
  top: 50px;
  width: 100%;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: inherit; 
  border-bottom: 1px solid #ccc;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;  
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover;  
}
.projects {
  text-align: center;
  font-size: larger;
}

.projects hr {
  width: 50%;
}
#bio{
  font-size: x-large;
  }  

.slides {
  grid-column: 1 / 4; 
  grid-row: 4; 
  padding: 1px;
  max-width: 200px; 
  margin: 0 auto; 
}

.carousel .slide img {
  width: 100%; 
  height: auto;  
  opacity: 0.3;
}

.carousel .legend {
  color: #fff;
  padding: 10px;
  font-size: 1rem;
}
#skills {
  font-size: x-large;
}
#contact {
  font-size: x-large;
}